/* Coolors Exported Palette - coolors.co/35524a-627c85-779cab-a2e8dd-32de8a */

/* HSL */
$color1: hsla(163%, 21%, 26%, 1);
$color2: hsla(195%, 15%, 45%, 1);
$color3: hsla(197%, 24%, 57%, 1);
$color4: hsla(171%, 60%, 77%, 1);
$color5: hsla(151%, 72%, 53%, 1);

/* RGB */
$color1: rgba(53, 82, 74, 1);
$color2: rgba(98, 124, 133, 1);
$color3: rgba(119, 156, 171, 1);
$color4: rgba(162, 232, 221, 1);
$color5: rgba(50, 222, 138, 1);